# Plano de Venda Semanal - Pizzaria
por Otávio Muraca

![](https://s.zst.com.br/cms-assets/2021/04/como-fazer-pizza-de-liquidificador-capa.jpg)

## Introdução:
Este projeto é uma iniciativa que visa otimizar a gestão de vendas de um estabelecimento, identificando padrões de consumo de produtos ao longo dos dias e horas da semana. Através da análise cuidadosa das vendas registradas, nosso objetivo é entender a demanda média de produtos em diferentes momentos, permitindo uma melhor preparação da pré-produção para agilizar a confecção e, ao mesmo tempo, reduzir desperdícios excessivos.

## Objetivos:

Identificar a demanda média de produtos vendidos por dia da semana e hora do dia.
Prever picos de venda e períodos de menor demanda para otimizar a produção e estoque.
Reduzir os custos associados ao excesso de produção e evitar a falta de produtos em momentos de alta demanda.
Fornecer insights para a equipe de gestão tomar decisões mais informadas sobre a produção e a disponibilidade de produtos.

Para atingir esses objetivos, o processo pode ser dividido em algumas etapas-chave:

**Coleta de Dados:** Faremos a coleta dos registros de vendas do estabelecimento, que podem incluir informações como data e hora da venda, quantidade de cada produto vendido e outros dados relevantes.

**Limpeza e Preparação dos Dados:** É fundamental garantir que os dados estejam limpos e organizados para uma análise adequada. Vamos tratar dados faltantes, remover informações duplicadas e formatar as datas e horas corretamente.

**Análise Exploratória:** Nesta etapa, faremos uma análise inicial dos dados para obter insights sobre os padrões gerais de venda ao longo dos dias e horas da semana. Gráficos e visualizações serão utilizados para facilitar a compreensão desses padrões.

**Cálculo de Médias:** Calcularemos as médias de vendas por dia da semana e hora do dia para determinar os períodos de maior e menor demanda.

**Previsão de Demanda:** Utilizaremos técnicas de previsão para identificar possíveis picos de venda e períodos de baixa demanda. Isso permitirá que a gerência se antecipe e tome medidas preventivas ou pró-ativas para evitar problemas de estoque.

**Recomendações:** Com base nos resultados obtidos, forneceremos recomendações concretas para a equipe de gerenciamento tomar decisões informadas sobre a pré-produção e gestão de estoque.

## Benefícios:

Através da implementação deste projeto, esperamos que o estabelecimento possa colher os seguintes benefícios:

**Redução de desperdícios:** Evitará a superprodução de produtos, reduzindo assim o desperdício de insumos e recursos financeiros.

**Aumento da eficiência:** A agilização da confecção de produtos garantirá que a demanda seja atendida de forma mais rápida e eficiente.

**Satisfação do cliente:** Ao evitar a falta de produtos em momentos de alta demanda, o estabelecimento poderá melhorar a satisfação do cliente ao garantir a disponibilidade dos itens desejados.

**Tomada de decisões embasada:** As informações obtidas permitirão à equipe de gestão tomar decisões estratégicas embasadas em dados concretos, em vez de depender apenas de intuições ou estimativas.

## Importações

### Bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Coleta de Dados

In [2]:
dados = pd.read_excel('/kaggle/input/pizza-sales/Data Model - Pizza Sales.xlsx',index_col="order_details_id")

### Analise dos Dados

In [3]:
dados.head(5)

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
order_details_id,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
#Observando os dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 1 to 48620
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           48620 non-null  int64
 1   pizza_id           48620 non-null  object
 2   quantity           48620 non-null  int64
 3   order_date         48620 non-null  datetime64[ns]
 4   order_time         48620 non-null  object
 5   unit_price         48620 non-null  float64
 6   total_price        48620 non-null  float64
 7   pizza_size         48620 non-null  object
 8   pizza_category     48620 non-null  object
 9   pizza_ingredients  48620 non-null  object
 10  pizza_name         48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 4.5+ MB

In [5]:
#Números do dataset
print(f"O dataset possui {dados.shape[0]} registros.")
print(f"O dataset possui {dados.isnull().sum().sum()} registros nulos.")

O dataset possui 48620 registros.
O dataset possui 0 registros nulos.

In [6]:
#Numero de pedidos
numero_pedidos = dados['order_id'].nunique()
data_primeiro_pedido = dados['order_date'].iloc[0].date()
data_ultimo_pedido = dados['order_date'].iloc[-1].date()

print(f"Foram realizado {numero_pedidos} pedidos no período de {data_primeiro_pedido} e {data_ultimo_pedido}.")

Foram realizado 21350 pedidos no período de 2015-01-01 e 2015-12-31.

In [7]:
#Verificando os nomes das pizzas disponíveis.
quantidade_cardapio = dados['pizza_name'].nunique()
dados['pizza_name'].unique()

array(['The Hawaiian Pizza', 'The Classic Deluxe Pizza',
       'The Five Cheese Pizza', 'The Italian Supreme Pizza',
       'The Mexicana Pizza', 'The Thai Chicken Pizza',
       'The Prosciutto and Arugula Pizza', 'The Barbecue Chicken Pizza',
       'The Greek Pizza', 'The Spinach Supreme Pizza',
       'The Green Garden Pizza', 'The Italian Capocollo Pizza',
       'The Spicy Italian Pizza', 'The Spinach Pesto Pizza',
       'The Vegetables + Vegetables Pizza', 'The Southwest Chicken Pizza',
       'The California Chicken Pizza', 'The Pepperoni Pizza',
       'The Chicken Pesto Pizza', 'The Big Meat Pizza',
       'The Soppressata Pizza', 'The Four Cheese Pizza',
       'The Napolitana Pizza', 'The Calabrese Pizza',
       'The Italian Vegetables Pizza', 'The Mediterranean Pizza',
       'The Pepper Salami Pizza', 'The Spinach and Feta Pizza',
       'The Sicilian Pizza', 'The Chicken Alfredo Pizza',
       'The Pepperoni, Mushroom, and Peppers Pizza',
       'The Brie Carre Pizza'], dtype=object)

In [8]:
print(f"Existem {quantidade_cardapio} tipos de produtos.")

Existem 32 tipos de produtos.

In [9]:
#Verificando os tamanhos das pizzas disponíveis.
tamanho_produtos = dados['pizza_size'].nunique()
dados['pizza_size'].unique()

array(['M', 'L', 'S', 'XL', 'XXL'], dtype=object)

### Ajuste de Dados

In [10]:
#Verificando os horários de atendimento
dados['order_time'] = dados['order_time'].astype(str)
dados['hora'] = dados['order_time'].apply(lambda x: x[:2])
valores_unicos_order_time = dados['hora'].unique()

print(valores_unicos_order_time)

['11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '10'
 '09']

In [11]:
dados

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,hora
order_details_id,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,11
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,11
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,11
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,11
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,11
...,...,...,...,...,...,...,...,...,...,...,...,...
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,21
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,21
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,21
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,22
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,23

In [12]:
#Criando coluna com os dias da semana
dados['dia_semana'] = dados['order_date'].dt.dayofweek

dias_da_semana = {
    0: 'Segunda',
    1: 'Terça',
    2: 'Quarta',
    3: 'Quinta',
    4: 'Sexta',
    5: 'Sábado',
    6: 'Domingo'
}

dados['dia_semana'] = dados['dia_semana'].map(dias_da_semana)

In [13]:
dados.head(25)

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,hora,dia_semana
order_details_id,,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,11,Quinta
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,11,Quinta
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,11,Quinta
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,11,Quinta
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,11,Quinta
6,2,thai_ckn_l,1,2015-01-01,11:57:40,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza,11,Quinta
7,3,ital_supr_m,1,2015-01-01,12:12:28,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,12,Quinta
8,3,prsc_argla_l,1,2015-01-01,12:12:28,20.75,20.75,L,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza,12,Quinta
9,4,ital_supr_m,1,2015-01-01,12:16:31,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,12,Quinta
10,5,ital_supr_m,1,2015-01-01,12:21:30,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,12,Quinta
11,6,bbq_ckn_s,1,2015-01-01,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,12,Quinta
12,6,the_greek_s,1,2015-01-01,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza,12,Quinta
13,7,spinach_supr_s,1,2015-01-01,12:50:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza,12,Quinta
14,8,spinach_supr_s,1,2015-01-01,12:51:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza,12,Quinta
15,9,classic_dlx_s,1,2015-01-01,12:52:01,12.00,12.00,S,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,12,Quinta
16,9,green_garden_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",The Green Garden Pizza,12,Quinta
17,9,ital_cpcllo_l,1,2015-01-01,12:52:01,20.50,20.50,L,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,...",The Italian Capocollo Pizza,12,Quinta
18,9,ital_supr_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,12,Quinta
19,9,ital_supr_s,1,2015-01-01,12:52:01,12.50,12.50,S,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,12,Quinta
20,9,mexicana_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,12,Quinta
21,9,spicy_ital_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza,12,Quinta
22,9,spin_pesto_l,1,2015-01-01,12:52:01,20.75,20.75,L,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza,12,Quinta
23,9,veggie_veg_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,12,Quinta
24,10,mexicana_l,1,2015-01-01,13:00:15,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,13,Quinta
25,10,southw_ckn_l,1,2015-01-01,13:00:15,20.75,20.75,L,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja...",The Southwest Chicken Pizza,13,Quinta

#### Agrupando por dia da semana

In [14]:
#Verificando dias da Semana
dias_semana = dados['dia_semana'].unique()
dias_semana

array(['Quinta', 'Sexta', 'Sábado', 'Domingo', 'Segunda', 'Terça',
       'Quarta'], dtype=object)

In [15]:
#Separando por dia da Semana
segunda_feira = dados.query("dia_semana == 'Segunda'")
terca_feira = dados.query("dia_semana == 'Terça'")
quarta_feira = dados.query("dia_semana == 'Quarta'")
quinta_feira = dados.query("dia_semana == 'Quinta'")
sexta_feira = dados.query("dia_semana == 'Sexta'")
sabado = dados.query("dia_semana == 'Sábado'")
domingo = dados.query("dia_semana == 'Domingo'")

### Ajsutando Ingredientes

In [16]:
lista_ingredientes = dados['pizza_ingredients'].unique()

In [17]:
ingredientes_unicos = []

for i in lista_ingredientes:
    ingredientes = [ingrediente.strip() for ingrediente in i.replace("",'').split(",")]
    
    for x in ingredientes:
        if x not in ingredientes_unicos:
            ingredientes_unicos.append(x)
            
ingredientes_unicos.sort()
ingredientes_unicos

['Alfredo Sauce',
 'Anchovies',
 'Artichoke',
 'Artichokes',
 'Arugula',
 'Asiago Cheese',
 'Bacon',
 'Barbecue Sauce',
 'Barbecued Chicken',
 'Beef Chuck Roast',
 'Blue Cheese',
 'Brie Carre Cheese',
 'Calabrese Salami',
 'Capocollo',
 'Caramelized Onions',
 'Chicken',
 'Chipotle Sauce',
 'Chorizo Sausage',
 'Cilantro',
 'Coarse Sicilian Salami',
 'Corn',
 'Eggplant',
 'Feta Cheese',
 'Fontina Cheese',
 'Friggitello Peppers',
 'Garlic',
 'Genoa Salami',
 'Goat Cheese',
 'Gorgonzola Piccante Cheese',
 'Gouda Cheese',
 'Green Olives',
 'Green Peppers',
 'Italian Sausage',
 'Jalapeno Peppers',
 'Kalamata Olives',
 'Luganega Sausage',
 'Mozzarella Cheese',
 'Mushrooms',
 'Onions',
 'Oregano',
 'Pancetta',
 'Parmigiano Reggiano Cheese',
 'Pears',
 'Peperoncini verdi',
 'Pepperoni',
 'Pesto Sauce',
 'Pineapple',
 'Plum Tomatoes',
 'Prosciutto',
 'Prosciutto di San Daniele',
 'Provolone Cheese',
 'Red Onions',
 'Red Peppers',
 'Ricotta Cheese',
 'Romano Cheese',
 'Sliced Ham',
 'Smoked Gouda Cheese',
 'Soppressata Salami',
 'Spinach',
 'Sun-dried Tomatoes',
 'Thai Sweet Chilli Sauce',
 'Thyme',
 'Tomatoes',
 'Zucchini',
 '慛duja Salami']

In [18]:
#Função que gera o valor da massa utilizada
def massa(size):
    
    if size == 'XXL':
        return 1.00
    
    elif size == 'XL':
        return 0.75
        
    elif size == 'L':
        return 0.50
        
    elif size == 'M':
        return 0.25
    
    elif size == 'S':
        return 0.10
    
    else:
        return 0

In [19]:
#Aplicando a função massa
dados['Massa'] = dados['pizza_size'].apply(massa)
df2 = dados

In [20]:
df2

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,hora,dia_semana,Massa
order_details_id,,,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,11,Quinta,0.25
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,11,Quinta,0.25
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,11,Quinta,0.50
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,11,Quinta,0.50
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,11,Quinta,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,21,Quinta,0.25
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,21,Quinta,0.50
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,21,Quinta,0.10
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,22,Quinta,0.50
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,23,Quinta,0.10

In [21]:
#Criando novo dataframe com todos os ingredientes
ingredientes_db = pd.DataFrame(0, index=df2.index, columns=ingredientes_unicos)


#Concatenado dataframes
df = pd.concat([df2, ingredientes_db], axis=1)
df

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,...,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini,慛duja Salami
order_details_id,,,,,,,,,,,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",...,0,0,0,0,0,0,0,0,0,0
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",...,0,0,0,0,0,0,0,0,0,0
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",...,0,0,0,0,0,0,0,0,0,0
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",...,0,0,0,0,0,0,0,0,0,0
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",...,0,0,0,0,0,0,0,0,0,0
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",...,0,0,0,0,0,0,0,0,0,0
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",...,0,0,0,0,0,0,0,0,0,0
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",...,0,0,0,0,0,0,0,0,0,0
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",...,0,0,0,0,0,0,0,0,0,0

In [22]:
df.columns

Index(['order_id', 'pizza_id', 'quantity', 'order_date', 'order_time',
       'unit_price', 'total_price', 'pizza_size', 'pizza_category',
       'pizza_ingredients', 'pizza_name', 'hora', 'dia_semana', 'Massa',
       'Alfredo Sauce', 'Anchovies', 'Artichoke', 'Artichokes', 'Arugula',
       'Asiago Cheese', 'Bacon', 'Barbecue Sauce', 'Barbecued Chicken',
       'Beef Chuck Roast', 'Blue Cheese', 'Brie Carre Cheese',
       'Calabrese Salami', 'Capocollo', 'Caramelized Onions', 'Chicken',
       'Chipotle Sauce', 'Chorizo Sausage', 'Cilantro',
       'Coarse Sicilian Salami', 'Corn', 'Eggplant', 'Feta Cheese',
       'Fontina Cheese', 'Friggitello Peppers', 'Garlic', 'Genoa Salami',
       'Goat Cheese', 'Gorgonzola Piccante Cheese', 'Gouda Cheese',
       'Green Olives', 'Green Peppers', 'Italian Sausage', 'Jalapeno Peppers',
       'Kalamata Olives', 'Luganega Sausage', 'Mozzarella Cheese', 'Mushrooms',
       'Onions', 'Oregano', 'Pancetta', 'Parmigiano Reggiano Cheese', 'Pears',
       'Peperoncini verdi', 'Pepperoni', 'Pesto Sauce', 'Pineapple',
       'Plum Tomatoes', 'Prosciutto', 'Prosciutto di San Daniele',
       'Provolone Cheese', 'Red Onions', 'Red Peppers', 'Ricotta Cheese',
       'Romano Cheese', 'Sliced Ham', 'Smoked Gouda Cheese',
       'Soppressata Salami', 'Spinach', 'Sun-dried Tomatoes',
       'Thai Sweet Chilli Sauce', 'Thyme', 'Tomatoes', 'Zucchini',
       '慛duja Salami'],
      dtype='object')

In [23]:
#Função para preencher as colunas de ingredientes
def atualizar_colunas_por_ingredientes(df, ingredientes):
    for index, row in df.iterrows():
        if pd.notna(row['pizza_ingredients']):
            ingredientes_pizza = row['pizza_ingredients'].split(', ')
            for ingrediente in ingredientes_pizza:
                df.loc[index, ingrediente] = int(1)
    return df

In [24]:
df = atualizar_colunas_por_ingredientes(df, ingredientes_unicos)

In [25]:
Spinach = df.query('Spinach == 1 and dia_semana == "Segunda" and hora == "12"') 
Spinach

,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,...,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini,慛duja Salami
order_details_id,,,,,,,,,,,,,,,,,,,,,
594,262,cali_ckn_m,1,2015-01-05,12:42:01,16.75,16.75,M,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",...,0,0,0,1,0,0,0,0,0,0
595,263,spin_pesto_l,1,2015-01-05,12:57:22,20.75,20.75,L,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",...,0,0,0,1,1,0,0,1,0,0
1542,688,spinach_supr_m,1,2015-01-12,12:26:41,16.50,16.50,M,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",...,0,0,0,1,0,0,0,1,0,0
1547,692,cali_ckn_m,1,2015-01-12,12:53:37,16.75,16.75,M,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",...,0,0,0,1,0,0,0,0,0,0
2443,1088,mediterraneo_l,1,2015-01-19,12:00:52,20.25,20.25,L,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie...",...,0,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48225,21191,cali_ckn_s,1,2015-12-28,12:54:56,12.75,12.75,S,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",...,0,0,0,1,0,0,0,0,0,0
48226,21191,ckn_pesto_m,1,2015-12-28,12:54:56,16.75,16.75,M,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli...",...,0,0,0,1,0,0,0,1,0,0
48228,21191,green_garden_m,1,2015-12-28,12:54:56,16.00,16.00,M,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",...,0,0,0,1,0,0,0,1,0,0
48235,21191,spinach_fet_m,1,2015-12-28,12:54:56,16.00,16.00,M,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G...",...,0,0,0,1,0,0,0,0,0,0
48236,21191,spinach_supr_m,1,2015-12-28,12:54:56,16.50,16.50,M,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",...,0,0,0,1,0,0,0,1,0,0

In [26]:
#Criando Matriz dia da Semana
colunas = ['Ingrediente','Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']
matriz = pd.DataFrame(columns=colunas, index=None)
matriz['Ingrediente'] = ingredientes_unicos
matriz[matriz.columns[1:]] = 0
matriz

,Ingrediente,Segunda,Terça,Quarta,Quinta,Sexta,Sábado,Domingo
0,Alfredo Sauce,0,0,0,0,0,0,0
1,Anchovies,0,0,0,0,0,0,0
2,Artichoke,0,0,0,0,0,0,0
3,Artichokes,0,0,0,0,0,0,0
4,Arugula,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
60,Thai Sweet Chilli Sauce,0,0,0,0,0,0,0
61,Thyme,0,0,0,0,0,0,0
62,Tomatoes,0,0,0,0,0,0,0
63,Zucchini,0,0,0,0,0,0,0
64,慛duja Salami,0,0,0,0,0,0,0